# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Facefinder
# dependencies
/facefinder-client/node_modules
/facefinder-client/.pnp
/facefinder-client/.pnp.js

# testing
/facefinder-client/coverage

# production
/facefinder-client/build

# misc
/facefinder-client/.DS_Store
/facefinder-client/.env.local
/facefinder-client/.env.development.local
/facefinder-client/.env.test.local
/facefinder-client/.env.production.local

/facefinder-client/npm-debug.log*
/facefinder-client/yarn-debug.log*
/facefinder-client/yarn-error.log*

/facefinder-client/.eslintcache


# Facefinder API
# dependencies
/facefinder-api/node_modules
/facefinder-api/.pnp
/facefinder-api/.pnp.js

# testing
/facefinder-api/coverage

# production
/facefinder-api/build

# misc
/facefinder-api/.DS_Store
/facefinder-api/.env.local
/facefinder-api/.env.development.local
/facefinder-api/.env.test.local
/facefinder-api/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.eslintcache
